header {
  display: flex;
  background-color: #373737;
  justify-content: left;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  height: 80px;

  p{
    color: white;
    margin-left: 2em;
  }

}
